@media only screen and (max-width: 980px) and (orientation: portrait) {
  div.cont {
    margin-top: 45%;
    margin-left: 10px
  }
}

.big {
  font-size: 4em;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  hyphens: auto;
  -ms-transform: rotate(355deg);
  -webkit-transform: rotate(355deg);
  transform: rotate(355deg);
  padding-left: 10pt;
}

.przemy {
  display: flex;
}

.faceimg {
  position: absolute;
  display: block;
  right: 10px;
  max-height: 25%;
}

a:link {
  color: #000
}

a:visited {
  color: #000
}

a:hover {
  color: #000
}

a:active {
  color: #000
}
