@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.row {
  display: flex;
  margin: 0;
  padding: 0
}

.column {
  flex: 50%;
}

.world-factbook {
  padding: 0.25rem;
  color: #637079;
  background-color: #ccd7dd;
}

.world-factbook .details {
  max-width: 50em;
}

.world-factbook .details a {
  color: #637079;
}

.world-factbook .screenshots img {
  max-width: 37rem;
}
