@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.world-factbook .details {
  max-width: 50em;
}

.world-factbook .details a {
  color: #000000
}

.world-factbook .screenshots img {
  max-width: 37rem;
}
